<div class="container-fluid febevent_top">

  <div class="container-fluid febevent_top_body">


    <div class="febevent_top_block1">
      <img src="../../assets/images/a_shatter_logo1.png">
    </div>

    <div class="febevent_top_block2">
      <span>With</span><img src="../../assets/images/logo.png">&<img src="../../assets/images/artistheaderlogo.png">
    </div>

  </div>

  <div class="container-fluid febevent_top_body">
    <div class="container febevent_top_banner">

      <img src="../../assets/images/a_shatter_top_img1.jpg">
    </div>


    <div class="container febevent_top_form">


      <div class="febevent_form_block1">
        <img src="../../assets/images/a_shatter_form_top.png">
      </div>

      <div class="febevent_form_block2">

        <div class="febevent_form_block2wrapper">

          <form>

            <h2><span>RSVP NOW!</span></h2>

            <div class="form-group">

              <input type="text" placeholder="First Name">

              <!-- <div class="has-error"><span>error text</span></div>-->

            </div>

            <div class="form-group">
              <input type="text" placeholder="Last Name">
              <!-- <div class="has-error"><span>error text</span></div>-->
            </div>

            <div class="form-group">
              <input type="text" placeholder="Telephone">
              <!-- <div class="has-error"><span>error text</span></div>-->
            </div>


            <div class="form-group">
              <input type="email" placeholder="Email">
              <!-- <div class="has-error"><span>error text</span></div>-->
            </div>

            <div class="form-group">
              <input type="text" placeholder="Username">
              <!-- <div class="has-error"><span>error text</span></div>-->
            </div>

            <div class="form-group">
              <input type="password" placeholder="Password">
              <!-- <div class="has-error"><span>error text</span></div>-->
            </div>

            <div class="form-group">
              <textarea placeholder="Address"></textarea>
              <!-- <div class="has-error"><span>error text</span></div>-->
            </div>

            <div class="form-group">
              <input type="text" placeholder="City">
              <!-- <div class="has-error"><span>error text</span></div>-->
            </div>

            <div class="form-group">

              <select>
                <option>Select State</option>
                <option>Select State</option>
                <option>Select State</option>
              </select>
              <!-- <div class="has-error"><span>error text</span></div>-->
            </div>


            <div class="form-group">
              <input type="text" placeholder="Zip Code">
              <!-- <div class="has-error"><span>error text</span></div>-->
            </div>


            <div class="febevent_subbtn">

              <input type="submit" value="SUBMIT">
            </div>

          </form>

        </div>

      </div>

      <div class="febevent_form_block3">
        <img src="../../assets/images/a_shatter_form_bottom.png">
      </div>




    </div>

    <div class="clearfix"></div>


  </div>


</div>


<div class="container-fluid febevent_block2">


  <div class=" febevent_block2_wrappercon">

    <img src="../../assets/images/a_shatter_middle_bg1.png" alt="#">
    <h2><p>Feb 9<sup>th</sup>, 2019</p>   <span>|</span>  <p>Jamie’s Foxx’s Crib in LA!</p> </h2>


  </div>


</div>


<div class="container-fluid febevent_block3">

  <div class="febevent_block3wrapper">

    <h3>Join us at our launch party on February 9th 2019 in LA at Jamie Foxx’s Crib! We are excited to have our brand new website readily available for our clients and want to show you how we represent! We will have our co-host AudioDeadline and ArtistXP there to help with a night to remember!
    </h3>


    <div class="febevent_block3_con1">

      <div class="febevent_block3_con1_body">

        <img src="../../assets/images/a_shatter_gallery_left.png" class="a_shatter_gallery_left">
        <img src="../../assets/images/a_shatter_gallery_right.png" class="a_shatter_gallery_right">

        <div class="febevent_block3_con1_div">
          <img src="../../assets/images/a_shatter_middle_img1.jpg">

        </div>
      </div>

    </div>


    <div class="febevent_block3_con2">
      <img src="../../assets/images/a_shatter_vips_bg1.png" alt="#">

      <h2>The Whole Entertainment Industry is <br/>invited to our event!</h2>
      <h4><span>Executives</span>     <span>Models</span>     <span>Producers</span>     <span>Musicians</span>     <span>Dancers </span>    <span>Fans</span></h4>

      <div class="newrsvp_btn_div">
        <a href="javascript:void(0)" class="topscrollbtn" (click)="gotop()"><span>RSVP now</span></a>
      </div>

    </div>


  </div>


</div>


<div class="container-fluid febevent_block4">
  <img src="../../assets/images/a_shatter_gallery_left2.png" alt="#" class="a_shatter_gallery_left2">
  <img src="../../assets/images/a_shatter_gallery_right2.png" alt="#" class="a_shatter_gallery_right2">

  <div class="febevent_block4_wrapper">

    <img src="../../assets/images/a_shatter_vips_bg5.png" alt="#"  class="a_shatter_vips_bg5">
    <div class="a_shatter_vips_bg4"><img src="../../assets/images/a_shatter_vips_bg4.png" alt="#" ></div>
    <ul>
      <li> <img src="../../assets/images/a_shatter_gimg1.jpg" alt="#"></li>
      <li><img src="../../assets/images/a_shatter_gimg2.jpg" alt="#"></li>
      <li><img src="../../assets/images/a_shatter_gimg3.jpg" alt="#"></li>
      <li><img src="../../assets/images/a_shatter_gimg4.jpg" alt="#"></li>
      <li><img src="../../assets/images/a_shatter_gimg5.jpg" alt="#"></li>
      <li> <img src="../../assets/images/a_shatter_gimg6.jpg" alt="#"></li>

      <div class="clearfix"></div>
    </ul>

    <div class="newrsvp_btn_div2">
      <a href="javascript:void(0)" class="topscrollbtn" (click)="gotop()"><span>RSVP now</span></a>
    </div>
  </div>


  <div class="container-fluid febevent_block5">
    <h2> Copyright © 2019 Shatter Blok - All Rights Reserved.</h2>

    <!-- <h3> Powered by GoDaddy</h3>-->

  </div>

</div>

