<style type="text/css">
    .clear{ clear: both;}
    .competition_demo_left{ width: 81.8%; float: left;}
    .competition_demo_right{ width: 17.8%; float: right;}
    .competition_demo_wrapper{ background: #010101;}
    @media screen and (max-width: 991px){
        .competition_demo_left{ width: 100%; float: none;}
        .competition_demo_right{  width: 100%; float: none;}
    }
</style>
<app-artistheader></app-artistheader>
<img src="../../assets/images/competition_img1.jpg" style="display: block; width: 100%;">
<img src="../../assets/images/competition_img2.jpg" style="display: block; width: 100%;">
<div class="competition_demo_wrapper">
    <div class="competition_demo_left"><img src="../../assets/images/competition_img3.jpg" style="display: block; width: 100%;"></div>
    <div class="competition_demo_right"><img src="../../assets/images/competition_img4.jpg" style="display: block; width: 100%;"></div>
    <div class="clear"></div>
</div>
<app-artistfooter></app-artistfooter>