<app-artistheader></app-artistheader>
<style type="text/css">
    .clear{ clear: both;}
    .profile_demo_left{ width: 82.05%; float:left; background: #1c3349; position: relative;}
    .profile_demo_right{ width: 17.9%; float:right; margin-top: 6.1%;}
    .profile_demo_right img{ width: 100%; margin: 0px; padding: 0px;    display: block;}
    .profile_demo_right span{ display: block; width: 100%;}
    .profile_demo_body_top{ width: 100%; position: relative;}
    .profile_user_demo { width: 23%; float: left;}
    .profile_user_demo img{ display: block; width: 100%;}
    .profile_top_link { width: 77%; float: left; margin-top: 7.5%;}
    .profile_top_link img{ display: block; width: 100%;}
    .profile_left_top_link { position: absolute; left: 23%; top: 0px; width: 98.9%;}
    .profile_demo_body{background: #1c3349;}
    @media screen and (max-width: 991px){
        .profile_demo_left{ width: 100%; float:none;}
        .profile_demo_right{ width: 100%; float:none; margin-top:0px;}
        .profile_left_top_link { position: inherit; left: 0; top: 0px; width: 100%; margin-top: 10px;}
        .profile_top_link { width: 100%; float: left; margin-top: 0;}
        .profile_user_demo { width: 90%; float: none; margin: 0 auto; margin-left: 6.5%;}
    }
</style>
<div class="profile_demo_body">
    <div class="profile_demo_left">
        <div class="profile_user_demo"><img src="../../assets/images/profile_left_top1.jpg"></div>
        <img src="../../assets/images/profile_left_top_link.jpg" class="profile_left_top_link">
        <div class="profile_top_link"><img src="../../assets/images/profile_left_top_link_tab.jpg"></div>
        <div class="clear"></div>
        <img src="../../assets/images/profile_body_1.jpg"  style="width: 100%;">
        <img src="../../assets/images/profile_body_2.jpg"  style="width: 100%; margin-top: 5px;">
        <img src="../../assets/images/profile_body_3.jpg"  style="width: 100%; margin-top: 5px;">
        <img src="../../assets/images/profile_body_4.jpg"  style="width: 100%; margin-top: 5px;">
        <img src="../../assets/images/profile_body_5.jpg"  style="width: 100%; margin-top: 5px;">
        <img src="../../assets/images/profile_body_6.jpg"  style="width: 100%; margin-top: 5px;">
        <img src="../../assets/images/profile_body_7.jpg"  style="width: 100%; margin-top: 5px;">
        <img src="../../assets/images/profile_body_8.jpg"  style="width: 100%; margin-top: 5px;">
    </div>
    <div class="profile_demo_right">
        <span><img src="../../assets/images/profile_right_banner1.jpg"></span>
        <span><img src="../../assets/images/profile_right_banner2.jpg"></span>
        <span><img src="../../assets/images/profile_right_banner3.jpg"></span>
        <span><img src="../../assets/images/profile_right_banner4.jpg"></span>
        <span><img src="../../assets/images/profile_right_banner5.jpg"></span>
        <span><img src="../../assets/images/profile_right_banner6.jpg"></span>
        <span><img src="../../assets/images/profile_right_banner7.jpg"></span>
        <span><img src="../../assets/images/profile_right_banner8.jpg"></span>
        <span><img src="../../assets/images/profile_right_banner9.jpg"></span>
        <span><img src="../../assets/images/profile_right_banner10.jpg"></span>
    </div>
    <div class="clear"></div>
</div>
<app-artistfooter></app-artistfooter>