<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 adminlisttable">
          <h4>Media List</h4>
          <div class="tablediv">
            <div class="tabletopbar">
              <div class="pull-right">
                <form action="" method="get">
                  <ul>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <select name="searchStatus" [(ngModel)]="searchStatus" class="form-control input-lg">
                            <option value="">Search By Status</option>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                            <option value="3">Pending</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <select name="searchType" [(ngModel)]="searchType" class="form-control input-lg">
                            <option value="">Search By Type</option>
                            <option value="">All</option>
                            <option *ngFor="let item of bannerTypeList" value="{{item.val}}">{{item.label}}</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a [routerLink]="['/add-media']" class="loginbtn2"><i class="fa fa-plus"></i> Add Media</a>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
            <table>
              <thead>
              <tr>
                <th>Name</th>
                <th>Uploaded By</th>
                <th>Type</th>
                <th>Sponsor</th>
                <th>Image</th>
                <th>No Of Click</th>
                <th>Sort Index</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of bannerlist | bannerfilter : searchType | bannerfilter2: searchStatus | orderby: 'sortindex' | paginate: { itemsPerPage: 10, currentPage: p }">
                <td style="min-width: 150px;"><span *ngIf="!item.isLabelClicked" style="cursor: pointer;" (click)="isClickedFunc(item,'label')">{{item.label}}</span><span *ngIf="item.isLabelClicked"><input type="text" name="label" value="{{item.label}}" (blur)="editInlineField($event,'label',item,item.label)" style="box-sizing: border-box; border-radius: 0px; box-shadow: none; border: 1px solid #ccc; font-size: 14px; font-family: 'OpenSans-Semibold'; width: 135px; height: 33px; padding: 0 5px;"><br><span style="color: #ff0000;">{{inlineerror}}</span></span></td>
                <td>{{item.uname}}</td>
                <td style="min-width: 166px;">{{getTypeName(item.type)}}</td>
                <td style="text-align: center;">{{getSponsorName(item.sponsor)}}</td>
                <td><img style="max-width: 230px;" src="{{fileurl}}{{uploadfolder}}{{item.image}}"><br><img *ngIf="item.image2" style="max-width: 230px; margin-top:10px;" src="{{fileurl}}{{uploadfolder}}{{item.image2}}"><br><img *ngIf="item.image3" style="max-width: 230px; margin-top:10px;" src="{{fileurl}}{{uploadfolder}}{{item.image3}}"></td>
                <td style="text-align: center;">{{item.noofclick}}</td>
                <td style="text-align: center;"><span *ngIf="!item.isSortindexClicked" style="cursor: pointer;" (click)="isClickedFunc(item,'sortindex')">{{item.sortindex}}</span><span *ngIf="item.isSortindexClicked"><input type="number" name="sortindex" value="{{item.sortindex}}" (blur)="editInlineField($event,'sortindex',item,item.sortindex)" style="box-sizing: border-box; border-radius: 0px; box-shadow: none; border: 1px solid #ccc; font-size: 14px; font-family: 'OpenSans-Semibold'; width: 70px; height: 33px; padding: 0 5px;"><br><span style="color: #ff0000;">{{inlineerror}}</span></span></td>
                <td>
                  <span *ngIf="!isadmin" [ngClass]="(item.status == 1 ? 'statusactive' : (item.status == 2 ? 'statusinactive' : 'statuspendinng'))">{{getStatusName(item.status)}}</span>
                  <span *ngIf="isadmin && !item.isStatusClicked" [ngClass]="(item.status == 1 ? 'statusactive' : (item.status == 2 ? 'statusinactive' : 'statuspendinng'))" (click)="isClickedFunc(item,'status')" style="cursor: pointer">{{getStatusName(item.status)}}</span>
                  <span *ngIf="isadmin && item.isStatusClicked">
                    <select name="status" (change)="editInlineField($event,'status',item,item.status)" (blur)="selectblur(item)">
                      <option value="1" [selected]="item.status == 1">Active</option>
                      <option value="2" [selected]="item.status == 2">Inactive</option>
                      <option value="3" [selected]="item.status == 3">Pending</option>
                    </select>
                    <br><span style="color: #ff0000;">{{inlineerror}}</span>
                  </span>
                </td>
                <!--<td *ngIf="!isadmin">
                  <span *ngIf="item.status == 0" class="statusinactive">Inactive</span>
                  <span *ngIf="item.status == 1" class="statusactive">Active</span>
                </td>
                <td *ngIf="isadmin">
                  <span *ngIf="item.status == 0" class="statusinactive" style="cursor: pointer" (click)="cngstatus(item)">Inactive</span>
                  <span *ngIf="item.status == 1" class="statusactive" style="cursor: pointer" (click)="cngstatus(item)">Active</span>
                </td>-->
                <td>
                  <a href="javascript:void(0)" class="loginbtn2 btndelete" (click)="openDelModal(template,item)"><i class="fa fa-close"></i><span>Delete</span></a>
                </td>
              </tr>
              <tr *ngIf="!(bannerlist | bannerfilter : searchType | bannerfilter2: searchStatus).length && !loadinglist"><td colspan="25" style="color: #ee680f; padding: 16px; text-align: center;">No Record Found</td></tr>
              <tr *ngIf="loadinglist"><td colspan="25" style="color: #ee680f; padding: 16px; text-align: center;"><img src="../../assets/images/loader.gif" style="width: 100px;"></td></tr>
              </tbody>
            </table>
            <pagination-controls  *ngIf="(bannerlist | bannerfilter : searchType | bannerfilter2: searchStatus).length" (pageChange)="p = $event" maxSize="9" autoHide="true" responsive="true" class="my-pagination"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center modalcls">
    <p>Are you sure to delete this Banner?</p>
    <div class="text-center">
      <button type="button" class="btnedit" (click)="confirm()" >Yes</button>
      <button type="button" class="btndelete" (click)="decline()" >No</button>
    </div>

  </div>
</ng-template>