<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1">
          <h4> Add Competition</h4>
          <div class="dashboard1form">
            <form name="dataForm" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
              <div *ngIf="is_error" class="singleerror">{{is_error}}</div>
              <div class="form-group">
                <label>Name*:</label>
                <input type="text" class="form-control" name="competitionname" placeholder="Name*" [formControl]="dataForm.controls['competitionname']">
                <span *ngIf ="dataForm.controls['competitionname'].touched && !dataForm.controls['competitionname'].valid" class="has-error"> Name field can not be blank</span>
              </div>
              <div class="form-group">
                <label>Description*:</label>
                <textarea class="form-control" name="description" placeholder="Description*" [formControl]="dataForm.controls['description']"></textarea>
                <span *ngIf ="dataForm.controls['description'].touched && !dataForm.controls['description'].valid" class="has-error"> Description field can not be blank</span>
              </div>
              <div class="form-group">
                <label>Start Date*:</label>
                <input type="text" class="form-control" name="startdate" placeholder="Start Date*" [formControl]="dataForm.controls['startdate']" [owlDateTime]="startdate" [owlDateTimeTrigger]="startdate" autocomplete="off">
                <owl-date-time [pickerType]="'calendar'" #startdate></owl-date-time>
                <span *ngIf="dataForm.controls['startdate'].touched && dataForm.controls['startdate'].hasError('blankdate')">Start Date field can not be blank</span>
                <span *ngIf="dataForm.controls['startdate'].touched && dataForm.controls['startdate'].hasError('invaliddate')">Only support MM/DD/YYYY format</span>
              </div>
              <div class="form-group">
                <label>End Date*:</label>
                <input type="text" class="form-control" name="enddate" placeholder="End Date*" [formControl]="dataForm.controls['enddate']" [owlDateTime]="enddate" [owlDateTimeTrigger]="enddate" autocomplete="off">
                <owl-date-time [pickerType]="'calendar'" #enddate></owl-date-time>
                <span *ngIf="dataForm.controls['enddate'].touched && dataForm.controls['enddate'].hasError('blankdate')">End Date field can not be blank</span>
                <span *ngIf="dataForm.controls['enddate'].touched && dataForm.controls['enddate'].hasError('invaliddate')">Only support MM/DD/YYYY format</span>
              </div>
              <div class="form-group">
                <label>Images</label>
                <div class="clearfix"></div>
                <input style="display: none" type="file" (change)="onFileChanged($event)" accept=".jpg,.jpeg,.png" #fileInput>
                <input type="button" (click)="fileInput.click()" value="Select File" class="cropselectbtn">
                <span style="font-size: 14px;">*Please upload bigger than 1540X421</span>
                <div class="clearfix"></div>
                <span *ngIf="imageserror" class="has-error" style="margin: 0;">Please upload image</span>
                <div *ngIf="imageloading">
                  <div class="col-md-4" style="height: 200px; overflow: hidden; margin: 15px 0 0 0; padding: 0;">
                    <img style="width: 100%" src="{{fileurl}}{{imageloading}}" >
                  </div>
                </div>
                <div class="col-md-12" style="padding: 0;" *ngIf="image1">
                  <div class="col-md-9" style="height: auto; max-height: 421px; overflow: hidden; margin: 15px 0 0 0; padding: 0;">
                    <img style="width: 100%" src="{{fileurl}}{{image1}}" >
                  </div>
                  <div class="col-md-9" style="height: auto; max-height: 421px; overflow: hidden; margin: 15px 0 0 0; padding: 0;">
                    <input type="button" (click)="cropimg1(croptemplate1)" value="CROP" class="cropselectbtn">
                  </div>
                </div>
                <div class="col-md-12" style="padding: 0;" *ngIf="image2">
                  <div class="col-md-4" style="height: auto; max-height: 421px; overflow: hidden; margin: 15px 0 0 0; padding: 0;">
                    <img style="width: 100%" src="{{fileurl}}{{image2}}" >
                  </div>
                  <div class="col-md-9" style="height: auto; max-height: 421px; overflow: hidden; margin: 15px 0 0 0; padding: 0;">
                    <input type="button" (click)="cropimg2(croptemplate2)" value="CROP" class="cropselectbtn">
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <input type="submit" name="submit" value="SUBMIT" class="loginbtn2">
              <input type="button" value="PREVIEW" class="loginbtn2" style="margin-left: 10px;" (click)="previewcomp(template,dataForm.value)">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<ng-template #template>
  <div class="modal-body copetitionpreview">
    <a style="cursor: pointer;" (click)="close()">X</a>
    <div>
      <div [style.background]="formvalendbgimage">
        <img style="display: none;" src="{{fileurl}}{{image2}}">
      </div>
      <div>
        <div>
          <h2>{{formval.competitionname}}</h2>
          <h3>{{formval.description | charlimit:400}}</h3>
          <h4>STARTS ON: <span>{{formvalstartdate}}</span> AND ENDS ON: <span>{{formvalenddate}}</span>.</h4>
          <h5><a class="btnpink" href="javascript:void(0);" target="_blank">SIGN UP FOR COMPETITION</a></h5>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #croptemplate1>
  <div class="modal-body copetitionpreview">
    <a style="cursor: pointer;" (click)="close()" class="closebtn">X</a>
    <div *ngIf="!rawimage" style="text-align: center;"><img style="width: 200px;" src="{{fileurl}}line-loader.gif" ></div>
    <div *ngIf="rawimage">
      <image-cropper
              [imageBase64]="rawimage"
              [maintainAspectRatio]="true"
              [aspectRatio]="3.67"
              (imageCropped)="imageCropped($event)"
      ></image-cropper>
    </div>
    <div *ngIf="rawimage"><input type="button" value="save" (click)="crop1()" class="cropselectbtn"><input type="button" value="cancel" (click)="close()" class="cropselectbtn cancelbtn"></div>
  </div>
</ng-template>

<ng-template #croptemplate2>
  <div class="modal-body copetitionpreview">
    <a style="cursor: pointer;" (click)="close()" class="closebtn">X</a>
    <div *ngIf="!rawimage" style="text-align: center;"><img style="width: 200px;" src="{{fileurl}}line-loader.gif" ></div>
    <div *ngIf="rawimage">
      <image-cropper
              [imageBase64]="rawimage"
              [maintainAspectRatio]="true"
              [aspectRatio]="1.51"
              (imageCropped)="imageCropped($event)"
      ></image-cropper>
    </div>
    <div *ngIf="rawimage"><input type="button" value="save" (click)="crop2()" class="cropselectbtn"><input type="button" value="cancel" (click)="close()" class="cropselectbtn cancelbtn"></div>
  </div>
</ng-template>